html{
    color: white;

    font-family: "ＭＳ Ｐ明朝","ＭＳ Ｐゴシック",serif;
    font-size: 14px;
    

    
    overflow: scroll;
    &::-webkit-scrollbar{
        display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@media screen and (max-width: 768px) {
    body {
      font-family: "DotGothic16", sans-serif; /* スマホ共通フォント */
    }
  }
  
  /* iPhone用 */
  @media screen and (max-width: 768px) {
    body.ios {
      font-family: "DotGothic16", sans-serif;
    }
  }
  
  /* Android用 */
  @media screen and (max-width: 768px) {
    body.android {
      font-family: "DotGothic16", sans-serif;
    }
  }

.border{
    border: solid 1px white;
    background: black;
}

.flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

a{
    position: relative;
    &:visited{
        color: white;
    }
    &:hover{
        top: 2px;
        color: blue;
        
    }
}