body{
    background: gray;
    color: black;
    font-size: 14px;

    font-family: "Consolas","DotGothic16", sans-serif;
}
#global{
    margin: auto;
    padding: 1em;
    max-width: 1000px;
}
.flex{
    display: flex;
    flex-direction: row;
}
#title{
    background: white;
    font-size: 20px;
    border: 5px ridge dimgrey;
}

.Side{
    margin-right: 0.5em;
    padding: 0.5em;
    background: white;
    width: 100px;
    text-align: center;
    border: 5px ridge dimgrey;
    
}
.local{
    margin-right: 0.5em;
    padding: 0.5em;
    background: white;
    border: 5px ridge dimgrey;
}
.scrol{
    margin-right: 0.5em;
    padding: 0.5em;
    height: 100px;
    width: 100px;
    background: white;

    scrollbar-color: black gray;
    overflow-y: scroll;
    scrollbar-width: thin;

    border: 5px ridge dimgrey;   
}