@media screen and (max-width: 450px) {
    body {
      font-family: "DotGothic16", sans-serif; 
    }
  }

body{
    background: black;
}

#map{
    border: solid 1px white;
    margin-top: 2em;
    margin-bottom: 2em;
}
