@media screen and (max-width: 470px) {
    body {
      font-family: "DotGothic16", sans-serif; 
    }
  }

body{
    background: black;
}

#map{
    border: solid 1px white;
    margin: 1em;
}
