body{
    background: gray;
    color: black;
    font-size: 14px;

    font-family: "Consolas","DotGothic16", sans-serif;
}
#global{
    margin: auto;
    padding: 1em;
    max-width: 1000px;
}
.flex{
    display: flex;
    flex-direction: row;
}
#title{
    background: white;
    font-size: 20px;
    border: 5px ridge dimgrey;
}

.Side{
    margin-right: 0.5em;
    padding: 0.5em;
    background: white;
    text-align: center;
    border: 5px ridge dimgrey;
}
.local{
    margin-right: 0.5em;
    padding: 0.5em;
    background: white;
    border: 5px ridge dimgrey;
}
.scrol{
    margin-right: 0.5em;
    padding: 0.5em;
    height: 80px;
    background: white;

    scrollbar-color: black gray;
    overflow-y: scroll;
    scrollbar-width: thin;

    border: 5px ridge dimgrey;   
}

.main{
    position: relative;
    cursor: help;      
    &:hover .sub{
        z-index: 0;    
        opacity: 1;  
    }
}
.sub {       
    z-index: -1;        
    opacity: 0;         
    min-width: 15em;    

    position: absolute;
    left: 0;
    bottom: 0%;
    padding: 5%;
    margin-bottom: 0.5em;
      
    border: 5px ridge dimgrey;    
    background-color: white; 

    &::after{
        content: "";  

    position: absolute;
    left: 25%;
    bottom: -1em;
    }
}